@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600&display=swap');

@keyframes winnerAnimation {
    from {font-size: 22px;}
    to {font-size: 24px;}
}


html, body, div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, p, span, div, button, select {
    font-family: "Fira Sans Condensed"
}

body {
    background-color: rgb(43, 57, 99);
    color: rgb(198, 212, 255);
}

body .init {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(43, 57, 99, 0.801);

    text-align: center;
}
body .init .init-content {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0 auto;
    padding: 5px;
    position: relative;
    top: 90px;

    background-color: rgba(48, 77, 163);
    border-radius: 10px;
}

body .init .init-content h2 {
    font-size: 22px;
    text-transform: uppercase;
}

body .init .init-content input{
    background-color: rgb(198, 212, 255);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    color: rgb(43, 57, 99);
}

body .init .init-content p {
    font-size: 14px;
    display: inline;
}

body .init .init-content select {
    border: 2px solid rgb(198, 212, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;

    width: 50%;
    height: 5vh;
    

    background-color: rgba(48, 77, 163);
    color: inherit;
    font-size: 16px;
    text-transform: uppercase;
}
body .init .init-content button {
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: 8vh;

    background-color: rgb(198, 212, 255);

    font-size: 22px;
    font-weight: 600;
    color: rgba(48, 77, 163);
}

body .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

body .content p {
    text-transform: uppercase;
}

body .content p #current-round{
    color: rgb(216, 81, 205);
    font-weight: 600;
}

body .content .buttons .button {
    font-size: 48px;

    background-color: rgba(75, 120, 255, 0.5);
    border: 2px solid rgba(75, 120, 255, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 82px;

    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}
body .content .buttons .bot-button {
    font-size: 48px;

    background-color: rgba(75, 120, 255, 0.5);
    border: 2px solid rgba(75, 120, 255, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 82px;

    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}


body .content .buttons .button:active{
    background-color:  rgb(75, 120, 255);
    transition: all .1s;
}

body .content .game{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

body .content .game #result {
    display: inline-block;
    margin: 5px 0;
}

body #final-winner {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(43, 57, 99, 0.966);
    display: none;

    flex-direction: column;
    align-items: center;

    text-align: center;
}
body #final-winner .refresh {
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: rgb(75, 120, 255);
    width: 160px;

    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: whitesmoke;

    position: relative;
    top: 70%;
}
body #final-winner .winner {
    display: block;
    margin-top: 150px;
    
    font-size: 24px;
    animation-name: winnerAnimation;
    animation-duration: 2s;
    transition: all .5s;
    
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);
    padding: 0 5px 0 5px;
}

@media (min-width: 800px) {
    body .init .init-content button{
        cursor: pointer;
    }
    body .init .init-content button:hover {
        background-color: rgb(43, 57, 99);
        color: rgb(198, 212, 255);
        transition: all .7s;
    }

    body .content .buttons .button {cursor: pointer;}
    body .content .buttons .button:hover {
        background-color: rgba(48, 77, 163, 0.5);
        transition: all .5s;
    }
    body .content .buttons .button:focus {
        background-color: rgb(216, 81, 205);
    }
    body #final-winner .refresh:hover {
        background-color: rgba(48, 77, 163, 0.5);
        cursor: pointer;
        transition: all .5s;
    }
}